body {
    font-family: 'Cairo', sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 50px;
    color: #4CAF50;
    font-size: 2.5em;
}

h2 {
    color: #FF5722;
    font-size: 1.5em;
}

.game-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border: 2px solid #4CAF50;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 1.2em;
}

.error {
    color: red;
    display: none;
}
